*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 1.2rem;
    font-family: Popins, sans-serif;
}

.bordures{
    border: 1px solid rgb(255, 0, 0);
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
}



/* -----------------polices---------------- */
.bruno-ace-regular {
    font-family: "Bruno Ace", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
 /* -------------- couleurs---------  */

 :root {
    --color1: #000000;
    --color2: #FFF;
    --color3: #0F5B34;
    --color4: #CBDFC7;
    --color5: #8AB993;
    --color6: #CBDFC7;
    --color7: #76c2f8;
    --color8: #065186;
    --color9: #d41616;
    --color10: #6f0707;
}

.green{
    color: var(--color3);
}
/* ---------------------------header----------------------------- */
header{
 
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

header nav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    color: var(--color3);
}

/* boutton du menu burger */
.navbar-toggler{
    background-color: var(--color3);
}


h1{
    color: royalblue;
    text-align: center;

}


.titreAccueil{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color3);
    margin-top: 40vh;
    margin-bottom: 30vh;
}



.titreColor{
    font-size: 1.5rem;
    color: var(--color3);
    /* font-weight: bold; */
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    margin-bottom: 2vh;
    

}

.isoler{
    margin-top: 0;
    margin-bottom: 8vh;
}

.gras{
    font-weight: bold;
}

.border-vertProfessionnel {
    padding-left: 2vh;
    border: 1px solid var(--color3);
    border-radius: 50px;
    width: 18vh;
    color: var(--color3);
    margin: 2vh;
}

.border-vertScolaire {
    padding-left: 2vh;
    border: 1px solid var(--color3);
    border-radius: 50px;
    width: 14vh;
    color: var(--color3);
    margin: 2vh;
}


.popUp{
    width: 50px;
    height: 50px;
    margin-left: 20vh;
}

.InfoPopUp {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 500px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    z-index: 1000;
    border-radius: 10px;
    color: var(--color3);
  }
  
  .close-btn {
    cursor: pointer;
    color:var(--color2);
    background-color: var(--color3);
    font-weight: bold;
    float: right;
    padding: 4px 8px;
    border-radius: 3vh;
  }

  .temoignages{
    margin-top: 20px;
    justify-content: center;
    width: 200px;
}

.texteTemoignages{
    background-color: #c4c4c474;
    padding: 4vh;
    border-radius: 10px;
    color: var(--color1);
    width: 300px;
    margin: auto;
}

.camarades{
    font-size: 1.5rem;
    color: var(--color3);

}

footer{
    background-color: #0F5B34;
    color: white;
    text-align: center;
    padding: 10px;
}

.footerLink{
    text-align: center;
    margin-top: 20px;
    padding: 10px;

}

footer a {
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    margin: 10px;
}

/* .devSkills{
    width: 300px;
    margin: 2vh;
} */

/* ------------le contenu qui défile ------------- */
.messagedefilant {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    background-color: var(--color6);
    box-sizing: border-box;
    padding: 20px; 
    display: flex;
    align-items: center; 
    font-size: large;
  }
  
  .contenu {
    display: inline-flex;
    white-space: nowrap;
    animation: defilement 10s linear infinite;
  }

  @keyframes defilement {
    from {
      transform: translateX(0); /* Début du texte à gauche */
    }
    to {
      transform: translateX(-100%); /* Fait défiler le texte vers la gauche */
    }
  }
  
  





/* -----------------------SECTION "À propos de moi"----------------------- */
.bg-vert5{
    background-color:var(--color5);
    color: var(--color1);
    padding: 40px;
    border-radius: 40px;
}

.bg-vert3{
    background-color:var(--color3);
    color: var(--color2);
    padding: 40px;
    border-radius: 40px;
    width: 300px;
}

.bg-vert6{
    background-color:var(--color6);
    color: var(--color3);
    padding: 40px;
    border-radius: 40px;
}

.ma_photo{
    border: 1px solid var(--color3);
    width: 300px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.liens{
    align-items: center;
    height: 250px;
}

.buttonLink{
    display: flex;  
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border: 4px solid var(--color3);
    color: var(--color3);
    border-radius: 50px;
    width: 180px;
    height: 40px;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    margin: auto;
}

.buttonLink:hover{
    box-shadow: 0 0 20px var(--color3);
    transition: all 0.3s ease-in-out;
    background-color: var(--color2);
}


/* ---------------------sous section 1 "Mon parcours"--------------------- */

.professionnel{
    margin-top: 12vh;
}


.infoScolaire{
    background-color: var(--color3);
    /* padding: 10px; */
    border-radius: 10px;
    padding: 2vh;
    color: whitesmoke;

}

.interact-professionnel{
    margin: 2vh;
}

.interact-scolaire :hover{
    box-shadow: 0 0 20px var(--color3);
    transform: scale(1.1);
    background-color: var(--color4);
    color: var(--color3);
    transition: all 0.3s ease-in-out;

}

.infoProfessionnel{
    background-color: var(--color4);
    padding: 10px;
    border-radius: 10px;
    padding: 2vh;
}

.interact-professionnel :hover{
    box-shadow: 0 0 20px var(--color3);
    transform: scale(1.1);
    background-color: var(--color3);
    color: whitesmoke;
    transition: all 0.3s ease-in-out;
}

/* ----------------------sous section 2 "Mes compétences"------------------ */
.devSkills h4  {
    display: flex;
    justify-content: center;
    margin-bottom: 3vh;
}


.creaSkills h4  {
    display: flex;
    justify-content: center;
    margin-bottom: 3vh;
}


/* ---------sous section 3 "Mes centres d'intérets"------------ */
/* apparence slider */
.imgSlider{
    width: 200px;
    height: 200px;
    border-radius: 30px 20px;
    margin: auto;
    border : 1px solid var(--color3);
}

#slider {
    position: relative;
    margin: auto;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.fleche{
    height: 50px;
    
  }

  .gauche{
    transform: rotate(180deg);
  }



/* ---------SECTION "Mes projets"------------ */
.apercuProjets{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

a img{
    width: 35vh;
    height: 20vh;
    border-radius: 10px;
}


.sousTitre{
    margin-bottom: 5vh;
}


h4{
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4vh;
}

h5{
    margin-bottom : 4vh;
}

.projets{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 5vh;
}



#project-list {
    display: flex;
  }
  
  .project-link {
    padding: 10px 15px;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
    width: 180px;
    text-align: center;
    margin: 1vh;
  }
  
  .project-link:hover {
    border-color: currentColor;
    opacity: 0.8;
  }
  
  .project-link.active {
    font-weight: bold;
    border-color: transparent;
  }
  
  #dynamic-footer {
    text-align: center;
    padding: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin: 0;
  }


  .projects2 {
    margin: 20px auto;
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 10px;
    max-width: 700px; 
}



.texte{
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 10px;
    max-width: 800px; 
}

.resaweb h3 {
    display: flex
;
    justify-content: center;
    align-items: center;
    color: var(--color8);
}

   



/* ------------resaweb---------------- */
.resaweb h3{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color8);
}

.resaweb .pageProjets{
    text-decoration: none;
    color: var(--color2);
    background-color: var(--color8);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.resaweb .lien-projets {
    text-decoration: none;
    color: var(--color1);
    background-color: var(--color7);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;

}

.resaweb .lien-projets :hover{
    box-shadow: 0 0 20px var(--color8);
    transition: all 0.3s ease-in-out;
}
.resaweb footer{
    background-color: var(--color8);

}
.resaweb footer a{
    color: var(--color2);
}

.centerImg{
    display: flex;
    justify-content: center;
    margin-bottom: 5vh;
}









/* ---------sous section 1 "Détails projets"------------ */
.slider img{
    width: 30vh;
    height: 30vh;
    border-radius: 10px;
}



/*                   FORMAT TABLETTE                        */
@media screen and (min-width:700px) {
     .titreAccueil{
        font-size: 3rem;
        font-weight: bold;
        color: var(--color3);
        margin-top: 40vh;
        margin-bottom: 30vh;
    }


    .bento-grid{
        max-width: 700px;
        min-width: 600px;
        margin: auto;
        
    }

    .bg-vert5{
        background-color:var(--color5);
        color: var(--color1);
        padding: 40px;
        border-radius: 40px;
        max-width: 500px;
        max-height:300px ;
        min-height: 400px;
    }

    
    .bg-vert3{
        background-color:var(--color3);
        color: var(--color2);
        border-radius: 40px;
        max-width: 550px;
        max-height: 300px;
        margin-right: 5vh;

    }
    
    .bg-vert6{
        background-color:var(--color6);
        color: var(--color3);
        padding: 40px;
        border-radius: 40px;
        /* max-width: 250px;
        max-height: 250px; */

    }

    .border-vertProfessionnel {
        padding-left: 2vh;
        border: 1px solid var(--color3);
        border-radius: 50px;
        width: 20vh;
        color: var(--color3);
        margin: 2vh;
    }
    .border-vertScolaire {
        padding-left: 2vh;
        border: 1px solid var(--color3);
        border-radius: 50px;
        width: 14vh;
        color: var(--color3);
        margin: 2vh;
    }

    .infos{
        max-width: 1000px;
        margin: auto;
    }

    .bentoCompetences{
        display: flex;
        justify-content: center ;
    }

    .colonne{
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .interact-dev{
        width: 600px;
        margin-bottom: 12vh;

    }

    .devSkills{
        width: 300px;
        margin: 0 auto;
    }
    .creaSkills{
        width: 300px;
        margin: 0 auto;

    }

    .interact-crea{
        width: 600px;
    }

    #slider {
        width: 600px;
    }

    .fleche{
        height: 50px;
        
      }
    
      .gauche{
        transform: rotate(180deg);
      }

    .ma_photo{
        width: 250px;
        height: 300px;
        border-radius: 40px;
        margin-right: 5vh;
    }

    .center{
        display: flex;
    }

    .liens{
        width: 250px;
        height: 300px;
    }

    footer{
        background-color: #0F5B34;
        color: white;
        text-align: center;
        padding: 10px;
    }
    
    .footerLink{
        text-align: center;
        margin-top: 20px;
        padding: 10px;
    
    }
    
    footer a {
        font-size: 1.5rem;
        text-decoration: none;
        color: white;
        margin: 10px;
    }

    .tailleGridProjects{
        width: 800px;
    }


    .projects2{
        max-width: 900px;
        min-width: 600px;

    }

      
    .temoignages{
        display: grid;
        gap: 5px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        width: 100px;
    }

    .texteTemoignages{
        background-color: #c4c4c474;
        padding: 4vh;
        border-radius: 10px;
        color: var(--color1);
        width: 500px;
        margin: 1vh;
    }

    .camarades{
        font-size: 1.5rem;
        color: var(--color3);

    }




/* -------------------SECTION CONTACTS -------------------- */
    .heightReduce{
        margin-top: 2vh;
        font-size: 2rem;
    }


  .colorContact{
    background-color: var(--color5);  
    width: 600px;  
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    margin-top: 15vh;
    margin-bottom: 15vh;
    
}

.contact{
    margin-bottom: 10vh;
    margin-left: 20vh;
    width: 600px;
    justify-content: center;
    align-items: center;

}

.imgMouve{
    width: 10vh;
    height: 10vh;
    border-radius: 10px;
    animation: infinite;
    animation-duration: 3s;
    animation-name: rotation;
    margin-left:10vh ;
    rotate: 20deg;

}

.linkedin{
    width: 15vh;
    height: auto;
    margin-left: 50vh;
}


.linkLinkedin{
    height: auto;
    width: 300px;
    text-decoration: none;
    color: var(--color2);
    background-color: var(--color3);
    border-radius: 10px;
    padding: 5px 8px 5px 8px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3vh;

    
}

.centerLink{
    display: flex;
    justify-content: center;
    align-items: center;
}


.linkLinkedin:hover{
    box-shadow: 0 0 20px var(--color2);
}


@keyframes rotation {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(15deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(15deg); }
    100% { transform: rotate(0deg); }
 
}

.tailleGridProjects {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    align-items: center;
    margin:auto;
    max-width: 1000px;
    padding: 20px;
}

.gridProjets{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    gap: 1vh;
    max-width: 700px;
    min-width: 600px;
}

.apercuProjets {
    max-width: 1000px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    margin: auto;
}

.apercuProjets:hover {
    transform: scale(1.05);
    
}

.projects2 {
    margin: 20px auto;
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 10px;
    max-width: 700px; 
}

.projets{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    gap: 0.5vh;
    width: 60px;
    justify-content: center;
    margin-bottom: 5vh;
}

.texte{
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 10px;
    max-width: 800px; 
}

#project-list {
    display: flex;
    gap: 10px;
  }
  
  .project-link {
    padding: 10px 15px;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
    width: 180px;
    text-align: center;
  }
  
  .project-link:hover {
    border-color: currentColor;
    opacity: 0.8;
  }
  
  .project-link.active {
    font-weight: bold;
    border-color: transparent;
  }
  
  #dynamic-footer {
    text-align: center;
    padding: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin: 0;
  }


    


}









/*---------------------------------------FORMAT DESKTOP------------------------------*/

@media screen and (min-width:1000px) {
    .titreAccueil{
        font-size: 3rem;
        font-weight: bold;
        color: var(--color3);
        margin-top: 40vh;
        margin-bottom: 30vh;
    }

    .bento-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 80px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
        width: 800px;
        
    }

    .bg-vert5{
        background-color:var(--color5);
        color: var(--color1);
        padding: 40px;
        border-radius: 40px;
        max-width: 500px;
        max-height:250px ;
    }

    
    .bg-vert3{
        background-color:var(--color3);
        color: var(--color2);
        border-radius: 40px;
        max-width: 550px;
        max-height: 300px;
        margin-right: 5vh;

    }
    
    .bg-vert6{
        background-color:var(--color6);
        color: var(--color3);
        padding: 40px;
        border-radius: 40px;

    }

    .infos{
        max-width: 1000px;
        margin: auto;
    }

    .bentoCompetences{
        display: flex;
        justify-content: center ;
    }

    .interact-dev{
        width: 600px;
    }

    .interact-crea{
        width: 600px;
    }

    #slider {
        width: 600px;
    }

    .fleche{
        height: 50px;
        
      }
    
      .gauche{
        transform: rotate(180deg);
      }

    .ma_photo{
        width: 250px;
        height: 250px;
        border-radius: 40px;
        margin-right: 5vh;
    }

    .center{
        display: flex;
    }

    .liens{
        width: 250px;
        height: 250px;
    }

    footer{
        background-color: #0F5B34;
        color: white;
        text-align: center;
        padding: 10px;
    }
    
    .footerLink{
        text-align: center;
        margin-top: 20px;
        padding: 10px;
    
    }
    
    footer a {
        font-size: 1.5rem;
        text-decoration: none;
        color: white;
        margin: 10px;
    }

    .tailleGridProjects{
        width: 800px;
    }


    .projects2{
        width: 900px;

    }

    .popUp{
        width: 50px;
        height: 50px;
        margin-left: 25vh;
    }

    .InfoPopUp {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        max-width: 500px;
        background-color: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        padding: 20px;
        z-index: 1000;
        border-radius: 10px;
        color: var(--color3);
      }
      
      .close-btn {
        cursor: pointer;
        color:var(--color2);
        background-color: var(--color3);
        font-weight: bold;
        float: right;
        padding: 4px 8px;
        border-radius: 3vh;
      }
      
    .temoignages{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
        width: 1000px;
    }

    .texteTemoignages{
        background-color: #c4c4c474;
        padding: 4vh;
        border-radius: 10px;
        color: var(--color1);
        width: 500px;
    }

    .camarades{
        font-size: 1.5rem;
        color: var(--color3);

    }




/* -------------------SECTION CONTACTS -------------------- */
    .heightReduce{
        margin-top: 2vh;
        font-size: 2rem;
    }


  .colorContact{
    background-color: var(--color5);  
    width: 1000px;  
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    margin-top: 15vh;
    margin-bottom: 15vh;
    
}

.contact{
    flex-wrap: wrap;
    margin-bottom: 10vh;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.imgMouve{
    width: 10vh;
    height: 10vh;
    border-radius: 10px;
    animation: infinite;
    animation-duration: 3s;
    animation-name: rotation;
    margin-left:10vh ;
    rotate: 20deg;

}

.linkedin{
    width: 15vh;
    height: auto;
    margin-left: 90vh;
}


.linkLinkedin{
    height: auto;
    width: 300px;
    text-decoration: none;
    color: var(--color2);
    background-color: var(--color3);
    border-radius: 10px;
    padding: 5px 8px 5px 8px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3vh;

    
}

.centerLink{
    display: flex;
    justify-content: center;
    align-items: center;
}


.linkLinkedin:hover{
    box-shadow: 0 0 20px var(--color2);
}


@keyframes rotation {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(15deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(15deg); }
    100% { transform: rotate(0deg); }
 
}

.tailleGridProjects {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    align-items: center;
    margin:auto;
    max-width: 1000px;
    padding: 20px;
}

.gridProjets{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    gap: 0.5vh;
    width: 800px;
}

.apercuProjets {
    max-width: 1000px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    margin: auto;
}

.apercuProjets:hover {
    transform: scale(1.05);
    
}

.projects2 {
    margin: 20px auto;
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 10px;
    max-width: 800px; 
}

.texte{
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 10px;
    max-width: 800px; 
}

#project-list {
    display: flex;
    gap: 10px;
  }
  
  .project-link {
    padding: 10px 15px;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
  }
  
  .project-link:hover {
    border-color: currentColor;
    opacity: 0.8;
  }
  
  .project-link.active {
    font-weight: bold;
    border-color: transparent;
  }
  
  #dynamic-footer {
    text-align: center;
    padding: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin: 0;
  }
  
  


    
}
 